*{margin: 0 auto; padding: 0 auto;}

/* HEADER */
header { 
  width: 90%;
  height: 90px;
  padding: 30px;
  position: relative;
}

#txtBusca{
  position: absolute;
  float: left;
}

#txtBusca {
  border-radius: 5px;
  width: 200px;
  height: 30px; 
  border: 1px solid #000;
}

#logo {
  position: absolute;
  left: 450px;
}

.social-networks img {
  width: 30px;
  margin-right: 5px;
}


.text-center{
  position: absolute;
  padding: 0;
  margin: 0 auto;
}

/* BANNER */
.banner {
  width: 100%;
  position: relative;
}
.banner img {
  width: 100%;
}

/* MAIN */
main { 
  width: 100%;
  height: auto;
  padding: 50px 0 50px 0;
}

main .container .col-md-4 {
  padding: 30px;
}


main section{
  align-items: center;
  justify-content: center;
  float: left;
}

.post { 
  background-color: white;
  border: 1px solid white;
  margin: 0;
  box-sizing: border-box;
  padding-top: 30px;
  float: left;
}

.post a {
  text-decoration: none;
  line-height: 25px;
  color: #000;
}

.post img {
  width: 200px;
  float: left;
}

.post h2 {
  margin: 0;
  padding-left: 220px;
  font-size: 27px;
}

.post p {
  margin: 0;
  padding-left: 220px;
  padding-top: 10px;
  font-size: 16px;
}

.box1 {
  width: 100%;
  background: #feb123;
  text-align: center;
  padding: 20px;
  color: #fff;
}

.box2 {
  width: 100%;
  background: #006772;
  text-align: center;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
}

.box3 {
  width: 100%;
  background: #72206f;
  text-align: center;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
}

.box4 {
  margin-top: 20px;
}

.box4 img {
  width: 250px;
  margin-left: 40px;
}

main section input {
  background: #1a1a1a;
  color: #fff;
  border: none;
  padding: 10px;
  width: 80%;
  font-weight: bold;
}

/* REGISTER */
.register {
  width: 100%;
  background: #9c9c9c;
  padding: 30px 0 30px 0;
  text-align: center;
}

.register p, b {
  color: #fff;
  font-size: 20px;
  line-height: 2em;
}

.register .input-email {
  padding: 10px;
  border: none;
  width: 30%;
}

.register .button {
  background: #feb123;
  color: #000;
  border: none;
  padding: 10px;
  width: 80px;
  font-weight: bold;
}


/* FOOTER*/
footer { 
  width: 100%;
  height: 90px;
  padding: 30px;
}

#logo-footer {
  position: absolute;
  left: 450px;
}


/* PAGINA DICAS ENEM */

.dicas-enem { 
  padding: 50px;
}

.dicas-enem h2 {
  text-align: center;
  padding: 0;
  line-height: 2em;
  padding-bottom: 40px;
}

.dicas-enem h3 {
  line-height: 2em;
}

.dicas-enem p {
  line-height: 2em;
  font-size: 16px;
}


/* PAGINA A MENTIRA */

.amentira { 
  padding: 50px;
}

.amentira h2 {
  text-align: center;
  padding: 0;
  line-height: 2em;
  padding-bottom: 40px;
}

.amentira h3 {
  line-height: 2em;
}

.amentira p {
  line-height: 2em;
  font-size: 16px;
}

/* PAGINA FIES */

.fies { 
  padding: 50px;
}

.fies h2 {
  text-align: center;
  padding: 0;
  line-height: 2em;
  padding-bottom: 40px;
}

.fies h3 {
  line-height: 2em;
}

.fies h4 {
  line-height: 1.5;
}

.fies p {
  line-height: 2em;
  font-size: 16px;
}

/* PAGINA ESTAGIARIO */

.estagiario { 
  padding: 50px;
}

.estagiario h2 {
  text-align: center;
  padding: 0;
  line-height: 2em;
  padding-bottom: 40px;
}

.estagiario h3 {
  line-height: 2em;
}

.estagiario h4 {
  line-height: 1.5;
}

.estagiario p {
  line-height: 2em;
  font-size: 16px;
}





